
.emailContainer {
  margin-right: 20px;
  float: right;

  box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);

  width: 400px;
}

.emailContainer textarea {
  height: 400px;
  resize:none;
}

.emailContainer .hero-body {
  padding: 5px;
}

.emailContainer .box {
  padding: 0px;
}

.is-bold {
  font-weight: bold;
}

.has-outline {
  box-shadow: 0px 0px 15px -2px grey;
}

.nav-right {
  flex-grow: inherit;
  flex-shrink: inherit;
}

.modal-card-head {
  padding: 0px;
}

.modal-card-head .hero-body {
  padding: 5px;
}

.modal-card-head .hero {
  width: 100%;
}

.modal-background {
  background-color: inherit;
}

a {
  color:inherit;
}

.hero-body {
  padding-top: 20px;
  padding-bottom: 20px;

}

.examine p {
  white-space: pre-wrap;
}

.is-underlined {
  border-bottom: 1px solid lightgrey;
  padding-bottom: 10px;
}

aside {
  padding-left: 20px;
}

.columns:last-child {
  margin-bottom: 0px;
}

#compose {
  margin-bottom: 30px;
  padding-left: 25px;
  padding-right: 25px;
}

.inboxContainer {
  padding: 20px;
}

.inboxLine {
  width: 100%;
  padding: 10px;

  cursor: pointer;
}

.inboxline p.overflow-ellipsis {
  text-overflow: ellipsis;
}

.inboxLine p {
  white-space: nowrap;
}

.inboxLine.level {
  margin-bottom: 0px;
}

i.fa {
  padding-right: 5px;
}

.inboxLine {
  border-bottom: 1px solid black;
}
.inboxLine:first-child {
  border-top: 1px solid black;
}

.inboxLine:hover {
  background-color: lightgrey;
}

.fa.inputText {
  color: inherit;
}

#login {
  margin-top: 20px;
}

#overlay {
  position: absolute;
  right: 0;
  bottom: 0;

  pointer-events: none;
  width: 100%;
}

#overlay * {
  pointer-events: all;
}

#title {
  margin-bottom: 20px;
}

nav {
  margin-left: 20px;
  margin-right: 20px;
}

#inbox h2 {
  margin-bottom: 20px;
}

#donate .modal-body {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
