<html>
  <head>
    <title>EthMail.tech</title>
    <script src="js/openpgp.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.6/vue.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lockr/0.8.4/lockr.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.3/lodash.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js" charset="utf-8"></script>

    <script> /* Google analytics - nothing crazy here */
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-89461757-1', 'auto');
      ga('send', 'pageview');
    </script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.2.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="./css/app.css">
    <script src="./js/app.js"></script>
  </head>
  <body>

    <div id="app" v-cloak>
      <div id="title" class="hero is-dark">
        <div class="hero-head">
          <div class="container">
            <nav class="nav">
              <div class="nav-left">
                <span class="is-light nav-item" >Latest Donation: </span>
                <span class="is-light nav-item" v-html>
                  {{Number(web3.fromWei(meta.lastDonation.amount, "ether"))}} Eth courtesy of
                  {{meta.lastDonation.from}}</span>
              </div>
              <div class="nav-right">
                <span class="nav-item">
                  <a class="button is-light is-outlined" href="https://github.com/Steven-Ireland/ethmail"><i class="fa fa-github"></i>Github!</a>
                </span>
                <span class="nav-item">
                  <a class="button is-light is-outlined" @click="toggleDonating"><i class="fa fa-heart"></i>Donate!</a>
                </span>
              </div>
            </nav>
          </div>
        </div>
      </div>
      <div v-if="inbox.ready">
        <div class="columns">
          <div class="column is-narrow">
            <aside class="content">
              <h2>Ethmail.tech</h2>
            </aside>
          </div>
          <div class="column">
            <template v-if="inbox.currentEmail">
              <a class="button" @click="stopExamineMail"><i class="fa fa-long-arrow-left"></i>Back</a>
              <a class="button" @click="replyMail"><i class="fa fa-mail-reply"></i>Reply</a>
            </template>
            <template v-else>

            </template>
          </div>
        </div>
        <div class="columns">
          <div class="column is-narrow">
            <aside class="">
              <a id="compose" @click="compose" class="button is-dark">Compose</a>

              <hr/>
              <ul id="chat">
                <li v-for="conversation in chat.conversations" @click="openChat(conversation)">

                </li>
              </ul>
            </aside>
          </div>
          <div class="column">
            <div id="inbox">
              <div v-if="inbox.currentEmail" class="content examine">
                <h1>{{ inbox.currentEmail.subject }}</h1>
                <p>{{ inbox.currentEmail.body }}</p>
              </div>
              <ul v-else>
                <li class="inboxLine level" v-for="(email,index) in inbox.emails" @click="examineMail(email)">
                  <div class="level-left">
                    <div class="level-item">
                      <p>{{ email.addr }}</p>
                    </div>
                    <div class="level-item">
                      <p class="is-bold">{{ email.subject }}</p>
                    </div>
                    <div class="level-item">
                      <p class="overflow-ellipsis">{{ email.body }}</p>
                    </div>
                  </div>
                  <div class="level-right">
                    <p>{{ moment(email.timestamp*1000).format("dddd, MMMM Do YYYY, h:mm:ss a") }}</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="" v-else>
        <div id="login" class="container" v-if="account.exists">
          <h1 class="title">Login: {{account.address}}</h1>
          <h2 class="subtitle">I'm here to..</h2>
          <p class="control has-addons">
            <a class="button" :class="{ 'is-dark': this.inbox.readNewMail }" @click="toggleNewMail">Read incoming mail with my PGP key</a>
            <a class="button" :class="{ 'is-dark': this.inbox.readOldMail }" @click="toggleOldMail" v-show="false">Read previously decrypted mail with my password (coming soon)</a>
          </p>

          <p class="control" v-show="inbox.readOldMail">
            <label class="label" >Password: </label>
            <input type="password" v-model="account.password">
          </p>

          <p class="control" v-show="inbox.readNewMail">
            <label class="label">PGP Private Key: </label>
            <input type="file" ref="keyfile" @change="loadKey"></input>
            <textarea class="textarea" v-model="account.privateKey"></textarea>
          </p>
          <p class="control" v-show="inbox.readNewMail">
            <label class="label" >PGP Passphrase (optional): </label>
            <input type="password" v-model="account.passphrase">
          </p>

          <p class="control" v-show="inbox.readNewMail || inbox.readOldMail">
            <a class="button is-dark" @click="login">Login</a>
          </p>
        </div>
        <div id="register" class="container" v-if="!account.exists">
          <div class="content">
            <p>In order to "create" your account, we must store a PGP Public Key
              that maps to your ethereum address</p>

            <p>This key is used to encrypt any emails sent to you, such that
              only you can read them with your PGP Private key. Once you send an email, it belongs to that
              address, encrypted with their PGP Public Key, and only able to be
              decrypted with their PGP Private Key. If you lose your private key or forget its associated passphrase,
              you will lose all incoming mail which was encrypted to it. </p>
            <p>You will have the opportunity to mark your incoming mail as read and re-encrypt it with a familiar
              password. Doing so will mitigate the loss of losing access to your private key and allow you to check
              previously read mail without it.</p>
            <p>We can create a PGP Key pair for you with or without a passphrase, or you can generate your own (may take a minute).</p>

            <p class="control has-addons">
              <input class="input" type="password" v-model="account.passphrase" placeholder="passphrase (optional)" :disabled="account.isGenerating">
              <a class="button" @click="generateKey" :class="{ 'is-loading': account.isGenerating }">Generate</a>
            </p>
            <p class="control">
              <label class="label">Public Key</label>
              <textarea class="textarea" v-model="account.publicKey" :disabled="account.isGenerating"></textarea>
            </p>
            <p class="control">
              <label class="label">Private Key</label>
              <a class="button" :href="keyDownloadLink()" v-show="account.privateKey.length>0">Download</a>
              <textarea class="textarea" v-model="account.privateKey" :disabled="account.isGenerating"></textarea>
            </p>
            <p class="control" v-show="signupReady">
              <a class="button is-dark" @click="signup">Register!</a>
            </p>
          </div>
        </div>
      </div>
      <div id="overlay">
        <div class="emailContainer has-outline" v-for="(email,index) in inbox.composing">
          <div class="hero is-dark">
            <div class="level hero-body">
              <div class="level-item has-text-centered">
                  <p class="">{{email.subject}}</p>
              </div>
              <div class="level-right">
                <a class="level-item" @click="close(index)"><i class="fa fa-times"></i></a>
              </div>
            </div>
          </div>
          <input class="input" placeholder="To" v-model="email.addr">
          <input class="input" placeholder="Subject" v-model="email.subject">
          <textarea class="textarea" placeholder="Body" v-model="email.body"></textarea>
          <a class="button is-dark" :class="{'is-loading': email.loading}" @click="send(email, index)">Send</a>
        </div>

        <div id="donate" class="modal" :class="{'is-active' : meta.isDonating}">
          <div class="modal-background" @click="toggleDonating">
          </div>
          <div class="modal-card has-outline">
            <div class="modal-card-head">
              <div class="hero is-dark">
                <div class="level hero-body">
                  <div class="level-item has-text-centered">
                    <p>Donate</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-card-body">
              <div class="content">
                <p>Thanks so much for considering to donate. It fuels development of the site and promotes the ethereum ecosystem as a whole!</p>
                <div class="control has-addons">
                  <a class="button" :class="{'is-dark': meta.donateAmount == .5}" @click="setDonateAmount(.5)">.5</a>
                  <a class="button" :class="{'is-dark': meta.donateAmount == 1}" @click="setDonateAmount(1)">1</a>
                  <a class="button" :class="{'is-dark': meta.donateAmount == 3}" @click="setDonateAmount(3)">3</a>
                  <a class="button" :class="{'is-dark': meta.donateAmount == 5}" @click="setDonateAmount(5)">5</a>
                  <a class="button" :class="{'is-dark': meta.donateAmount == 10}" @click="setDonateAmount(10)">10</a>
                  <p class="control has-icon has-addons">
                    <input class="input" v-model="meta.donateAmount"></input>
                    <i class="fa">Eth</i>
                    <a class="button is-dark is-outline" @click="donate">Donate</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
